
:root {
  --background: white
}

.App {
  height: 100vh;
  width: 100vw;
}

.main {
  /* height: 90vh; */
  width: 100vw;
  display: flex;
  justify-content: center;
  /* border-style: dashed;
  border-radius: 10px;
  border-color: black; */
  padding-top: 10px;
  padding-bottom: 10px;
  background: #F4F4F4;
  overflow: scroll;
  color: #C0B283;
  padding-left: 5%;
  padding-right: 5%;
}

.main h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
}

header {
  background: var(--background);
  text-align: center;
  /* position: fixed; */
  z-index: 999;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #DCD0C0;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #C0B283;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: #C0B283;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1,1);
  }
}

.logo {
  font-size: 2em;
  font-weight: bold;
  float: left;
}

.main-content {
  height: 85vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  /* border-style: dashed;
  border-radius: 10px;
  border-color: blue;
  overflow: scroll; */
  justify-content: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: 2.5%;
  /* border-style: dashed;
  border-radius: 10px;
  border-color: red; */
  background: var(--background)
}

.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-left: 2.5%;
  /* border-style: dashed;
  border-radius: 10px;
  border-color: red; */
  background: var(--background)
}

.userHome-container {
  /* height: 90vh; */
  width: 75vw;
  display: flex;
  flex-direction: row;
  /* border-style: dashed;
  border-radius: 10px;
  border-color: blue; */
}

.userHome-left {
  /* height: 90vh; */
  width: 30vw;
  display: flex;
  /* margin: 5%; */
  flex-direction: column;
  /* border-style: dashed;
  border-radius: 10px;
  border-color: pink; */
}

.feed {
  width: 60vw;
  display: flex;
  margin-left: 2.5%;
  flex-direction: column;
}

.currently-reading {
  display: flex;
  flex-direction: column;
  width: 25vw;
  overflow: scroll;
}

.currently-reading p {
  font-size: 1em;
}

.want-to-read {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.want-to-read p {
  font-size: 1em;
}

.read {
  display: flex;
  flex-direction: column;
  /* height: 25vh; */
  width: 25vw;
  /* margin-top: 2vh;
  border-style: dashed;
  border-radius: 10px;
  border-color: lime; */
}

.read p {
  font-size: 1em;
}

.userHome-read {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userHome-want {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.userHome-current {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.browse {
  /* height: 90vh; */
  width: 75vw;
  align-items: center;
}

.title-search {
  display: flex;
  flex-direction: row;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book h1 {
  font-size: .75em;
}

.book p {
  font-size: .5em;
}

.book img {
  height: 150px;
  width: 100px;
  margin-right: 5%;
}

.book a {
  text-decoration: none;
}

.book-userHome img {
  height: 150px;
  width: 100px;
}

.book {
  display: flex;
  flex-direction: column;
  /* height: 20vh; */
  width: 15vw;
  margin: 1em;
  justify-content: center;
  color: #373737;
}

.book-info {
  display: flex;
  flex-direction: row;
}

.bookshelves {
  width: 75vw;
  align-items: center;
}

.bookshelf {
  display: flex;
  flex-direction: column;
}

.bookshelf-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.user-profile {
  width: 75vw;
}
